* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(180, 219, 219);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 2px solid gray;
    height: 60px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /* height: 60px; */
}
nav ul li {
    display: flex;
    flex-direction: column;
    position: relative;

}
.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: brown;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid green;
  color: green;
}
.menu-desplegable {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    /* width: 400%; */
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    /* bottom: -8px; */
    left: -8px; 
    /* bottom: -140px; */
    bottom: 0px;
    transform: translate(0, 100%);
}
.menu-desplegable li a {
    display: block;
    margin: 0;
    /* border: none; */

}
li:hover > .menu-desplegable {
    display: block;
}
