/* :root {
    
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 1.2rem;
    font-size: medium; */
}
li {
    text-decoration: none;
    list-style: none;
}
body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
header {
    background-color: rgb(47, 46, 46);
    text-align: center;
    width: 100%;
}
nav {
    width: 100%;
    height: 65px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(55, 54, 54);
    font-size: 1.2rem;
}

.menu {
    display: flex;
    height: 100%;
}
.menu > li {
    display: flex;
    position: relative;
    padding: 0 10px;

}

/* nav .menu > li a {
    display: block;
} */


.menu .menu-desplegable--container {
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    background-color: black;
    border: 0px solid rgb(127, 70, 70);
    border-radius: 0 0 10px 10px ;
    transform: translate(0, 100%);
    border-radius: 5px;
    /* transform: translate(0, 100%); */
    /*left: 0;
    margin: 0px;
    background-color: rgb(127, 70, 70); */
    /* width: fit-content;
    height: fit-content; */
}
.menu li:hover > .menu-desplegable--container {
    display: block;
}
.menu-desplegable--container ul {
    display: block;
}

.menu .menu-desplegable--container li a {
    display: block;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-desplegable--container li:hover > #secundary{
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    transform: translate(0, 0);
    height: fit-content;
} 
/* ul li:hover > .menu-desplegable--container {
    display: block;
    width: fit-content;
    height: fit-content;
} */

#secundary ul {
    display: block;
}

.menu-desplegable--container li {
    position: relative;
    display: block;
    padding: 0;
    margin: 0px;
} 
.navbar-left {
    display: flex;
}



.navbar-left ul li a,
.navbar-right ul li  {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(19, 18, 18);
  padding: 8px;
  border-radius: 8px;
  margin: 10px 2px; 
}

.navbar-left ul li a:hover,
.navbar-right ul li:hover {
  border: 1px solid rgb(55, 54, 54);
  color: black;
  background-color: rgb(150, 120, 120);
}
header h1 {
    display: block;
    margin: 0 auto;
}
main {
    background-color: rgb(47, 46, 46);
    text-align: center;
    width: 100%;
}
.articles-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 0 10px;

}
.articles-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 20px 40px;
    border-radius: 30px;
    margin: 30px 30px;
    /* border: 1px solid rgb(150, 120, 120); */
    background-color:  black;
    color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.articles-main:hover {
    transform: rotateY(180deg);
}
/* .flip-article:hover  {
    transform: rotateY(180deg);
} */
.img-article {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.description-articles-container {
    display: block;
    align-content: space-between;
}
.front {
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
}
.back {
    position: absolute;
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.description-article {
    font-size: 1rem;
}
footer {
    text-align: center;
    width: 100%;
    color: whitesmoke;
}
